<details>
  <summary>
    Articles de blogs que je lis
  </summary>
  {{ range .Articles }}
  <article>
    <h4>
      <a href="{{ .Link }}" target="_blank" rel="noopener">{{ .Title }}</a>
    </h4>
    <blockquote>
      {{ .Summary }}
      <br>
      <cite>
        – <a href="{{ .SourceLink }}">{{ .SourceTitle }}</a>
        ·
        {{ .Date.Format "2006-01-02" }}
      </cite>
    </blockquote>
  </article>
  {{ end }}
</details>
