<details>
  <summary>
    Articles de blogs que je lis
  </summary>
  {{ $args := "" }}
  {{ if .Site.Params.rss2jsonApiKey }}
  {{ $args = printf "&api_key=%s&order_by=pubDate" .Site.Params.rss2jsonApiKey }}
  {{ end }}
  {{ range .Site.Params.Webring }}
  {{ $feed := getJSON "https://api.rss2json.com/v1/api.json" "?rss_url=" (urlquery .) $args }}
  {{ $article := index $feed.items 0 }}
  <h4>
    <a href="{{ $article.link }}" target="_blank" rel="noopener">{{ $article.title }}</a>
  </h4>
  <blockquote>
    {{ $article.description | plainify | truncate 500 }}
    <br>
    <cite>
      – <a href="{{ $feed.feed.link }}">{{ $feed.feed.title }}</a>
      ·
      {{ $article.pubDate | dateFormat "2 Jan 2006" }}
    </cite>
  </blockquote>
  {{ end }}
</details>
