{% extends "base.html" %}

{% block head %}
<meta name="author" content="{{ article.author }}">
<meta name="keywords" content="{{ article.tags | join(', ') }}">
{% endblock %}

{% block title %} &ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
    <header id="post-header">
        <h1>{{ article.title }}</h1>
        <time>{{ article.locale_date }}</time>
    </header>
    {{- article.content -}}
</article>
{% if COMMENT_EMAIL %}
<footer id="comment">
    Un commentaire ? Écrivez-moi à : <code>{{ COMMENT_EMAIL | escape }}</code>.
</footer>
{% endif %}
{% endblock %}
