{% extends "base.html" %}

{% block head %}
<meta name="author" content="{{ article.author }}">
<meta name="keywords" content="{{ article.tags | join(', ') }}">
{% endblock %}

{% block title %} &ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
    <header id="post-header">
        <h1>{{ article.title }}</h1>
        <time>{{ article.locale_date }}</time>
    </header>
    {{- article.content -}}
</article>
{% if COMMENT_MAILINGLIST %}
<footer id="comment">
    <p>Un commentaire ? Démarrez une discussion dans la <a href="{{ COMMENT_MAILINGLIST_URL }}?search={{ article.title | urlencode }}">liste de diffusion</a> en envoyant un email à <a href="mailto:{{ COMMENT_MAILINGLIST }}?Subject={{ article.title | urlencode }}">{{ COMMENT_MAILINGLIST }}</a>. Veuillez respecter l'<a href="https://man.sr.ht/lists.sr.ht/etiquette.md">etiquette de la liste de diffusion</a>.</p>
</footer>
<hr>
{% endif %}
{% endblock %}
