{% extends "base.html" %}

{% block content %}

<h3>Posts</h3>
<ul id="posts">
{% for article in articles_page.object_list %}
    <li>
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{- article.title -}}
            <small><time>{{ article.locale_date }}</time></small>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% if DEFAULT_PAGINATION %}
<table><tr>
    {% if articles_page.has_previous() %}
    <td id="page-previous">
        <a rel="prev" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo; prev</a>
    </td>
    {% endif %}
    {% if articles_page.has_next() %}
    <td id="page-next">
        <a rel="next" href="{{ SITEURL }}/{{ articles_next_page.url }}">next &raquo;</a>
    </td>
    {% endif %}
</tr></table>
{% endif %}
{% endblock %}
